html {
  line-height: 1.15; /* 1 */
}
* {
  box-sizing: border-box;
}
/* Layout styling */
.container {padding: 0 15px;}

body {
  background-color: #F8F8F8;
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  /*sets font size to size 14*/
  font-weight: 300;
  line-height: 1.6;
  color: #000000;
}

 header {
  background-color: #E3EDFF;
  text-align: center;
  padding: 10px 0 4px;
  position: fixed;
  border-bottom: 2px solid #E2E9F1;
  width: 100%;
  display: inline-block;
}

main {
  padding-top: 90px;
}

nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  color: #000000;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

/* our hamburger menu */
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #E3EDFF;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

nav>ul>li>a:hover {
  color: #cc6540;
  text-decoration: underline;
}

nav>ul>li>a:focus {
  color: #019FC8;
  text-decoration: underline;
}

nav>ul>li>a:active {
  color: #4a4a4a
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-family: 'roboto', sans-serif;
  font-size: 2.75em;
  font-weight: 500;
}

h2 {
  font-family: 'roboto', sans-serif;
  font-size: 2.25em;
  font-weight: 600;
}

h3 {
  font-family: 'roboto', sans-serif;
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-family: 'roboto', sans-serif;
  font-size: 1.35em;
  font-weight: 300;
}

#logo {
  max-width: 25px;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: #F19C79;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #A44A3F;
  text-decoration: underline;
}

a:active {
  color: #0181A2;
}

.button {
  display: inline-block;
  background-color: #E3EDFF;
  color: #0181A2;
  font-weight: 400;
  padding: 14px;
  border-radius: 6px;
  transition: 0.2s opacity;
}

.button:hover {
  background-color: #0181A2;
  opacity: .8;
  text-decoration: none;
  color: #ffffff;
}

.button:active {
  opacity: .8;
  text-decoration: none;
}

.button.contact {
  background-color: #E3EDFF;
  color: #0181A2;
  font-family: 'roboto', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  border: .33px solid #0181A2;
  transition-duration: .2s;
  transition-property: color;
}

.button.contact:hover {
  background-color:  transparent;
  color: #0181A2;;
  transition: 0.2s;
}

/* Layout styling */
.container {
  padding: 0 15px
}

.row {
  margin: 25px 0;
  border-bottom: 4px
}

#work .row {
  padding-bottom: 8px;
}

#work h2 {
  text-align: center;
  font-size: 2.5em;
  padding-top: 15px;
  padding-bottom: 10px;
}


/* ---------------------------- INDEX / HOMEPAGE ---------------------------- */
/* -------------------------------------------------------------------------- */
#hero {
  background-color: #F8F8F8;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 50px 30px 0px 25px;
}

#hero span {
  display: block;
  margin: auto;
}

.box-mf {
  padding: 40px 16px 32px 16px;
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
}

#contact h2 {
  text-align: center;
  font-family: 'roboto', sans-serif
}

#contact svg {
  width: auto;
  height: 25px;
}

#copyright p {
  text-align: center;
}

footer {
  background-color: #E3EDFF;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  border-top: 2px solid #E2E9F1;
}

.social>ul {
  list-style-type: none;
  padding: 0;
}

.social>ul>li {
  display: inline-block;
  padding: 20px 8px;
}

/* ---------------------------- COLUMN REFERENCE ----------------------------- */
/* --------------------------------------------------------------------------- */
[class*="col-"] {
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}

.reverseimg [class*="col-"] {
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px
}

/* --------------------------------------- MEDIA QUIERIES ---------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/*------------------------------------------------------------------------------------------------ */
/* ===============================================================================================
Medium devices (640px and larger)
================================================================================================== */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 10px 0 10px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 5px;
  }

  nav>ul>li {
    display: inline-block;
    position: relative;
  }

  nav>ul {
    margin: 1em 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    width: 50%;
    float: left;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .skills_tools {
    padding-left: 220px;
  }

  #hero {
    background-color: #F8F8F8;
    display: inline-block;
    width: 100%;
    padding: 10px 25px 20px 20px;
  }

  main {
    padding: 45px 20px 20px 20px;
  }

  .col-lg-5 {
    width: 41.66%;
  }


}
